.home{
    background-image:linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.356)), url(images/Poke_Ball.webp);
    height: 100%;
    padding-bottom: 468px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position:relative;




    /* width: 100%; 
    padding-bottom: 800px; */

    /*background-position: center;
    background-repeat: no-repeat;
    background-size:contain; */
  }

.text{
    text-align: center;
    padding-top: 350px;
    color: white;
}

.buttont{
    font-weight: 550;
    background-color: red;
    color: white;
}

.container{
    color: black;
}
