
{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'styles/feed.css') }}">

<div class="home">
<h1 style="color: white">Your Pokemon Team</h1>



  <div class="row">
    {% for p in t %}
      <div class="col-sm-2 mb-2" id="roster">
        <div class="card">
          <img src="{{ p.sprites }}" class="card-img-top" alt="{{ p.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ p.name.title() }}</h5>
            <p class="card-text">Ability: {{ p.ability.title() }}</p>
            <p class="card-text">HP: {{ p.hp }}</p>
            <p class="card-text">Attack: {{ p.attack }}</p>
            <p class="card-text">Defense: {{ p.defense }}</p>
            <a href="{{ url_for('releaseP', pokemon_id=p.id) }}" class="buttonc btn ">Release!</a>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>



{%endblock%}




